doctype html
html(lang='en')
  head
     // Required meta tags
     meta(charset='UTF-8')
     meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
     meta(name='description' content='Colorlib Templates')
     meta(name='author' content='Colorlib')
     meta(name='keywords' content='Colorlib Templates')
     // Title Page
     title PlantyFood
     // Icons font CSS
     link(href='/vendor/mdi-font/css/material-design-iconic-font.min.css' rel='stylesheet' media='all')
     link(href='/vendor/font-awesome-4.7/css/font-awesome.min.css' rel='stylesheet' media='all')
     // Font special for pages
     link(href='https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')
     // Vendor CSS
     link(href='/vendor/select2/select2.min.css' rel='stylesheet' media='all')
     link(href='/vendor/datepicker/daterangepicker.css' rel='stylesheet' media='all')
     link(href='/css/main.css' rel='stylesheet' media='all')
     meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
     link(rel="icon" href="/img/favicon.png" type="image/png")
    
    
     //-   link(rel="stylesheet" href="/css/bootstrap.css")
     //-   link(rel="stylesheet" href="/vendors/linericon/style.css")
     //-   link(rel="stylesheet" href="/css/font-awesome.min.css")
     //-   link(rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css")
     //-   link(rel="stylesheet" href="/vendors/lightbox/simpleLightbox.css")
     //-   link(rel="stylesheet" href="/vendors/nice-select/css/nice-select.css")
     //-   link(rel="stylesheet" href="/vendors/animate-css/animate.css")
     //-   link(rel="stylesheet" href="/css/style.css")
     //-   link(rel="stylesheet" href="/css/post.css")
     //-   link(rel="stylesheet" href="/css/responsive.css")

  body
     block content
     
     // Jquery JS
     script(src='/vendor/jquery/jquery.min.js')
     // Vendor JS
     script(src='/vendor/select2/select2.min.js')
     script(src='/vendor/datepicker/moment.min.js')
     script(src='/vendor/datepicker/daterangepicker.js')
     // Main JS
     script(src='/js/global.js')
     script(src='/jsForWebsite/bundel.js')
     // end document
     p
  // This templates was made by Colorlib (https://colorlib.com)
