html(lang="en")
 head
        // Required meta tags
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="icon" href="img/favicon.png" type="image/png")
        title PlentyFood
        // Bootstrap CSS
        link(rel="stylesheet" href="/css/bootstrap.css")
        link(rel="stylesheet" href="/vendors/linericon/style.css")
        link(rel="stylesheet" href="/css/font-awesome.min.css")
        link(rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css")
        link(rel="stylesheet" href="/vendors/lightbox/simpleLightbox.css")
        link(rel="stylesheet" href="/vendors/nice-select/css/nice-select.css")
        link(rel="stylesheet" href="/vendors/animate-css/animate.css")
        // main css
        link(rel="stylesheet" href="/css/style.css")
        link(rel="stylesheet" href="/css/post.css")
        link(rel="stylesheet" href="/css/responsive.css")
        link(rel="icon" href="/img/favicon.png" type="image/png")
 body
     block content
     script(src="/js/jquery-3.2.1.min.js")
     script(src="/js/popper.js")
     script(src="/js/bootstrap.min.js")
     script(src="/js/stellar.js")
     script(src="/vendors/lightbox/simpleLightbox.min.js")
     script(src="/vendors/nice-select/js/jquery.nice-select.min.js")
     script(src="/vendors/isotope/imagesloaded.pkgd.min.js")
     script(src="/vendors/isotope/isotope-min.js")
     script(src="/vendors/owl-carousel/owl.carousel.min.js")
     script(src="/js/jquery.ajaxchimp.min.js")
     script(src="/js/mail-script.js")
     script(src="/js/theme.js")
     script(src="/jsForWebsite/bundel.js")
     script(src="/jsForWebsite/token.js")

